* text=auto
* whitespace=tabwidth=4,indent-with-non-tab

.gitattributes text
.gitignore     text
*.md           text

*.json text whitespace=tabwidth=2,indent-with-non-tab
*.cjs  text whitespace=tabwidth=2,indent-with-non-tab
*.yaml text whitespace=tabwidth=2,tab-in-indent

/package.json        eol=lf
/pnpm-lock.yaml      eol=lf
